<b>
<h1>VESPR structures</h1>
</b>

<div class ="box">
    <%= link_to image_tag("Linear.jpg", :size => '400x200'), home_linear_path%>
    <div class="title">
        <p class="words2 list-unstyled">Linear</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Trigonal.jpg", :size => '400x200'), home_Trigonal_planar_path%>
    <div class="title">
        <p class="words2">Trigonal Planer</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Tetrahedral.jpg", :size => '400x200'), home_Tetrahedral_path%>
    <div class="title">
        <p class="words2" >Tetrahedral</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Bent.jpg", :size => '400x200'), home_bent_path%>
    <div class="title">
        <p class="words2">Bent</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Pyramidal.jpg", :size => '400x200'), home_pyramidal_path%>
    <div class="title">
        <p class="words2">Trigonal Pyramidal</p>
    </div>
</div>
<h1>Polar vs Non-polar</h1>
<p class="words">The charges in polar molecules differ from one side of the molecule to the other. The charges in a non-polar atom do not have a charge difference between the sides.</p>
<h1>Why are the molecule shaped like that?</h1>
<p class="words">The shapes of the molecules reflect the position where the atoms surrounding the central atom are furthest from each other. Lone electron pairs compress the angles between the remaining atoms because the electron pairs need more space than an atom would.</p>

<p class="words">The ballons represent atomic bonds and the tennis balls represent electrons.</p>
<p class="words">Created by Joseph Tauzin</p>