<b>
<h1>VESPR structures</h1>
</b>

<div class ="box">
    <%= link_to image_tag("Linear.jpg", :size => '400x200'), home_linear_path%>
    <div class="title">
        <p class="words2 list-unstyled">Linear</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Trigonal.jpg", :size => '400x200'), home_Trigonal_planar_path%>
    <div class="title">
        <p class="words2">Trigonal Planer</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Tetrahedral.jpg", :size => '400x200'), home_Tetrahedral_path%>
    <div class="title">
        <p class="words2" >Tetrahedral</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Bent.jpg", :size => '400x200'), home_bent_path%>
    <div class="title">
        <p class="words2">Bent</p>
    </div>
</div>

<div class ="box">
    <%= link_to image_tag("Pyramidal.jpg", :size => '400x200'), home_pyramidal_path%>
    <div class="title">
        <p class="words2">Trigonal Pyramidal</p>
    </div>
</div>
<p class="words">The ballons repersent atomic bonds and the tennis balls repersent electrons.</p>
<p class="words">Made by Joseph Tauzin</p>